[Unit]
Description=AppFlowy-Cloud
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/appflowy_cloud/
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=__INSTALL_DIR__/appflowy_cloud/appflowy_cloud
StandardOutput=append:/var/log/__APP__/__APP___cloud.log
StandardError=inherit
Restart=always

# Sandboxing options to harden security
# Details for these options: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=false
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
